.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  list-style: none;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 218px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  border: none;
  display: flex;
  align-items: center;
  background: transparent url(../images/Group.svg) center no-repeat;
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
}

.card__delete-button {
  background-image: url(../images/Trash.svg);
  width: 18px;
  height: 19.3px;
  position: absolute;
  cursor: pointer;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0px;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/trashHover.svg);
}
