.header {
  display: flex;
  padding-top: 45px;
  padding-bottom: 40px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 775px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
    padding-left: 27px;
    padding-right: 167px;
    max-width: 100%;
  }

  @media screen and (max-width: 420px) {
    .header {
      margin-left: 0;
    }

    .header__logo {
      width: 126px;
      height: 24px;
    }
  }
}
