.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 882px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
